.lead {
    max-width: 928px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 48px auto 0;
    padding: 0;
}

@media screen and (min-width: 1280px) {
    .lead {
        max-width: 984px;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        max-width: 320px;
    }
}