.footer__box {
    margin: 0 18px 0 0;
    padding: 0;
}

.footer__box:last-child {
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer__box {
        margin: 0 0 32px 0;
    }
}