.content {
    max-width: 1024px;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 2px solid white;
}

@media screen and (min-width: 1280px) {
    .content {
        max-width: 1280px;
    }
}

@media screen and (max-width: 1023px) {
    .content {
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .content {
        max-width: 320px;
    }
}