.intro {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin: 92px 0 0 48px;
    padding: 0;
    width: 690px;
    height: 429px;
}

@media screen and (min-width: 1280px) {
    .intro {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        width: 720px;
        height: 429px;
        align-items: center;
        margin: 88px auto 0;
    }
}
@media screen and (max-width: 767px) {
    .intro {
        width: 288px;
        height: 754px;
        align-items: center;
        margin: 64px auto 0;
    }
}