.lead__subtitle {
    max-width: 640px;
    min-height: 72px;
    margin: 32px auto 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        max-width: 288px;
        min-height: 40px;
        margin-top: 16px;
        font-size: 16px;
        line-height: 20px;
    }
}