.cover {
    max-width: 1184px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 92px auto 0;
    padding: 0;
    z-index: 2;
    background-image: url(../../image/cover-trains.jpg);
    box-sizing: border-box;
    background-size: cover;
}

.cover:before {
    content: "";
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}

.cover:hover:before {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover {
        max-width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        max-width: 100%;
        margin-top: 90px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        max-width: 100%;
        margin-top: 66px;
    }
}