.lead__caption {
    max-width: 158px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    margin: 8px auto 0 0;
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        margin-left: 16px;
    }
}