.cover__title {
    max-width: 560px;
    min-height: 152px;
    margin: 195px auto 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
}

@media screen and (min-width: 1280px) {
    .cover__title {
        margin-top: 245px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__title {
        margin-top: 115px;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 288px;
        min-height: 70px;
        margin-top: 33px;
        font-size: 32px;
        line-height: 35px;
    }
}