/*блок footer*/

.footer {
    width: 928px;
    height: 18px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 92px auto 24px;
    padding: 0;
}

@media screen and (min-width: 1280px) {
    .footer {
        width: 1184px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        width: 720px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 64px auto 24px;
        padding: 0;
        width: 320px;
        height: 310px;
    }
}