.footer__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .footer__content {
        margin-left: 16px;
        padding: 0;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}